{% extends 'accounts_layout.html' %}

{{ super() }}
{% block section_content %}
{{ super() }}
<!-- second row with profile display-->

<!-- basic profile info column-->

<div class="row">
    <div class="col-xs-12 col-md-3">
        <div class="card border-0">
            <div class="card-header bg-light" id="mypage-card-header">
                <img class="img-fluid rounded-circle d-xs-none"
                    src="{{url_for('static',filename= 'profile_pictures/')}}{{ current_user.user_pp_name }}"
                    alt="Responsive image" />
            </div>

            <div class="card-footer justify-content-center bg-transparent d-sm-blockborder-0">
                <a href="{{url_for('me.editprofilepicture')  }}" id="edit-profile-picture" class="visible"><button
                        id="btn-edit-myprofile" type="button"
                        class="btn btn-info d-sm-block justify-content-center">edit
                    </button></a>

            </div>

        </div>

    </div>


    <div class="col-xs-12 col-lg-9">
        <div class="card">
            <div class="card-header">
                <h6 class="mt-2">Login Details<span class="float-right in-line ml-2"><a
                            href="{{ url_for('me.editlogindetails')}}"><i class="fas fa-user-edit"></i></a></span></h6>
            </div>
            <div class="card-body">


                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <h6>Email: </h6>
                        <h6 class='text-muted'>{{ current_user.user_email }}</h3>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <h6>Password: </h6>
                        <h6 class='text-muted'>**********</h3>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <h6>Profile Name: </h6>
                        <h6 class='text-muted'>{{current_user.user_name}}</h3>
                    </div>
                </div>
            </div>

        </div>

        <div class="card">
            <div class="card-header">

                <h6 class="mt-2">Contact Details<span class="float-right in-line ml-2"><a
                            href="{{url_for('me.editcontactdetails')}}"><i class="fas fa-pencil-alt"></i></a></span>
                </h6>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <h6>Mobile Number: </h6>
                        <h6>
                            {% if not current_user.profile.user_mobile_phone   %}
                            ---
                            {% else %}
                            <h6 class='text-muted'>{{ current_user.profile.user_mobile_phone }}</h6>
                            {% endif %}
                            </h3>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <h6>Work Number: </h6>
                        <h6>{% if not current_user.profile.user_work_phone   %}
                            ---
                            {% else %}
                            <h6 class='text-muted'>{{ current_user.profile.user_work_phone }}</h6>
                            {% endif %}</h6>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <h6>Post Code: </h6>
                        <h6>{% if not current_user.profile.user_postcode %}
                            ---
                            {% else %}
                            <h6 class='text-muted'>{{ current_user.profile.user_postcode}}</h6>
                            {% endif %}</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <h6>City: </h6>
                        <h6>{% if not current_user.profile.user_city %}
                            ---
                            {% else %}
                            <h6 class='text-muted'>{{ current_user.profile.user_city }}</h6>
                            {% endif %}</h6>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <h6>Country: </h6>
                        <h6>{% if not current_user.profile.user_country %}
                            ---
                            {% else %}
                            <h6 class='text-muted'>{{ current_user.profile.user_country}}</h6>
                            {% endif %}</h6>
                    </div>

                </div>

            </div>



        </div>





        <div class="card">
            <div class="card-header">

                <h6 class="mt-2">Web Presence<span class="float-right in-line ml-2"><a
                            href="{{url_for('me.editwebpresence')}}"><i class="fas fa-pencil-alt"></i></a></span>
                </h6>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <h6>Website: </h6>
                        <h6>
                            {% if not current_user.profile.user_url %}
                            ---
                            {% else %}
                            <h6 class='text-muted'>{{ current_user.profile.user_url }}</h6>
                            {% endif %}
                        </h6>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <h6>Twitter: </h6>
                        <h6>{% if not current_user.profile.user_twitter %}
                            ---
                            {% else %}
                            <h6 class='text-muted'>{{ current_user.profile.user_twitter }}</h6>
                            {% endif %}</h6>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <h6>Facebook: </h6>
                        <h6>{% if not current_user.profile.user_facebook %}
                            ---
                            {% else %}
                            <h6 class='text-muted'> {{ current_user.profile.user_facebook}}</h6>
                            {% endif %}</h6>
                    </div>
                </div>



            </div>








            <div class="card">
                <div class="card-header">
                    <h6 class="">About me<span class="float-right in-line ml-2"><a
                                href="{{ url_for('me.editprofilesummary')}}" data-toggle="" data-target=""><i
                                    class="fas fa-pencil-alt"></i></a></span></h6>

                </div>

                <div class="card-body">
                    <div class="row">

                        <div class="col-sm-12 col-md-6">
                         <h6 class='text-muted'>
                        {% if not current_user.profile.user_bio  %}
                        ---
                        {% else %}
                        {{ current_user.profile.user_bio }}
                        {% endif %}</h6>

                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h6 class='text-muted'>
                       {% if not current_user.profile.user_bio  %}
                       ---
                       {% else %}
                       {{ current_user.profile.user_bio }}
                       {% endif %}</h6>

                   </div>
                    </div>
                    
                </div>
                   

            </div>

        </div>


    </div>



</div>



{% endblock section_content %}