{% extends 'accounts_layout.html' %}

{{ super() }}

{% block section_content %}
{{ super() }}
<!-- second row with profile display-->

<!-- basic profile info column-->
<div class="row">

    <div class="col-sm-12 col-lg-12">


        <table class="table table-hover">
            <thead>
                <tr>

                    <th scope="col">Service</th>
                    <th scope="col">Rate</th>

                </tr>
            </thead>
            <tbody>

                {% for x in service_exist %}

                    <tr>
                        
                        <td>{{ x.service }}</td>
                        <td>{{ x.rate }}</td>
                       
                    </tr>

                {% endfor %}
            </tbody>
        </table>


      
    </div>

    <form class="mt-50 w-100 mx-auto" id="form-section" method="post" action="">
        {{ form.hidden_tag() }}
        <div class="form-row" id="form-rows">
            <div class="form-group col-xs-12 col-sm-6">
                <label for="inputEmail4">{{ form.service.label}}</label>
                {{form.service(class="form-control")}}

            </div>
            <div class="form-group col-xs-12 col-sm-6">
                <label for="inputEmail">{{ form.rate.label}}</label>
                {{form.rate(class="form-control")}}

            </div>

        </div>
        <div class="form-group col-xs-12 col-sm-6">

            {{form.submit(class= "btn btn-primary d-block")}}

        </div>
    </form>


</div>



{% endblock section_content %}
{% block add_scripts %}

<script src="{{url_for('static',filename = 'js/services.js')}}"> </script>

{% endblock add_scripts %}