<!doctype html>
<html lang="en">

{% block head %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{{ url_for('static' , filename='css/styles.css')}}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Document</title>
    {% endif %}

</head>

{% endblock head %}


<body>
    {% block navbar %}

    <div class="navbar-fixed">
        <nav class="blue">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="{{ url_for('auth.home') }}" class="brand-logo">Property Chores</a>

                    <a href="#" class="sidenav-trigger" data-target="mobile-nav">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        {% if current_user.is_authenticated %}

                        <li>
                            <a  href="{{ url_for('me.myprofile') }}">MyPage</a>
                        </li>
                        {% endif %}
                        <div class="navbar-nav ml-auto">
                            {% if current_user.is_authenticated %}
        
                            <li>
                                <a >Welcome {{ current_user.user_name.title()}}</a>
                            </li>
                            <li >
                                <a href="{{ url_for('auth.signout') }}">Logout</a>
                            </li>
                            
        
                            {% else %}
                            <li >
                                <a class="nav-link text-dark" href="{{ url_for('auth.signin') }}">Login</a>
                            </li>
        
                            <li >
                                <a class="nav-link text-dark" href="{{ url_for('auth.reg_user') }}">Signup</a>
                            </li>
        
                            {% endif %}
                        </div>    
                    </ul>

                </div>



            </div>
        </nav>
        
    </div>

<ul class="sidenav" id="mobile-nav">
            {% if current_user.is_authenticated %}

            <li>
                <a  href="{{ url_for('me.myprofile') }}">MyPage</a>
            </li>
            {% endif %}
            <div class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}

                <li>
                    <a >Welcome {{ current_user.user_name.title()}}</a>
                </li>
                <l >
                    <a href="{{ url_for('auth.signout') }}">Logout</a>
                </li>
                

                {% else %}
                <li>
                    <a class="nav-link text-dark" href="{{ url_for('auth.signin') }}">Login</a>
                </li>

                <li>
                    <a class="nav-link text-dark" href="{{ url_for('auth.reg_user') }}">Signup</a>
                </li>

                {% endif %}
            </div>    
        </ul>

    {% endblock navbar %}


    {% block page_body %}

    



     {% endblock page_body %}
        <!-- Footer -->
        <footer class="page-footer font-small">
            <div class="container">
                <div class="row justify-content-center login-footer-row-1">

                </div>
                <div class="row justify-content-center login-footer-row-2">
                    <!-- Copyright -->
                    <div class="footer-copyright text-center py-3">© 2020 Copyright:
                        <a href="#">Selfterpreneur.com</a>
                    </div>
                    <!-- Copyright -->
                </div>


            </div>
        </footer>
        <!-- Footer -->
        <!-- Optional JavaScript -->

      
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{{url_for('static' ,filename = 'js/layout.js')}}"></script>
        {% block add_scripts %} {% endblock add_scripts %}

</body>

</html>